
.icon-clock:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */