@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap");
@import url("./fontello.css");
@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&display=swap');

:root {
    --Green: #3ec1d3;
    --Yellow: #f6f7d7;
    --Orange: #ff9a00;
    --Gray: #a0a0a0;
    --Red: #ff165d;
    --white: #FFFFFF;
    --fontOS: "Oswald";
    --font200: 200;
    --font400: 400;
    --font500: 500;
    --font700: 700;
    --fontTI: "Elsie"
}

* {
    box-sizing: border-box;
    font-family: var(--fontOS);

}

body {
    background-color: var(--white);
}

/* sekcja nav */
    
.navbar {
    font-weight: var(--font200);
    height: 70px;
    background-color: var(--Green);
    color: var(--white);
    font-size: 24px;
}

/* koniec sekcji nav */

/* GENERAL */

.test {

    font-family: var(--fontOS);
    font-weight: 200;
}

#headingOne {
    background-color: var(--Green)
}

#headingTwo {
    background-color: var(--Green)
}

#headingThree {
    background-color: var(--Green)
}

#headingFour {
    background-color: var(--Green)
}

.btn-block {
    color: black;
}

.dogCard {
    padding: 10px;
}

.card-body {
    padding: 0;
}

.btn-group {
    width: 100%;
}

.mainDiv {
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-danger {
    background-color: var(--Red);
}

.btn-warning {
    background-color: var(--Orange);
}

.card-title {
    margin-top: 0.25rem;
    font-size: 2rem;
}

.text {
    width: 100%;
}

.marginClass {
    margin-bottom: 12px
}

.raceText:before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: white;
    background-image: url("../assets/paw.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    margin-right: 4px;
}

.card-text {
    margin-top: 0;
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    font-weight: var(--font200);
}

.dogCard {
    size: 30%; 
    display: inline-block; 
    margin: 4px 4px;
    
}

.card-img-top {
    height: 200px; 
    width: 250px; 
    object-fit: cover;
    border-radius: 4px;
    filter:blur(0) grayscale(0)
    
}

.imageWrapper {
    height: 200px;
}

.imageWrapper:hover .card-img-top {
    transition: 0.25s;
    filter:blur(3px) grayscale(70%)
}

.hiddenImgDesc {
    position:relative;
    bottom:125px;
    font-size: 1.65rem;
    color: white;
    font-weight: var(--font200);
    left:0px;
    text-align: center;
    visibility: hidden;
}

.imageWrapper:hover .hiddenImgDesc {
    transition: 1s;
    visibility:visible;
}

.form-control {
    margin: 4px 0 4px 0;
    font-weight: var(--font200);
}

.form-control:focus {
    border-color: white;
    box-shadow :0 0 0 0.2rem var(--Green); ;
}

.btn-secondary {
    margin-bottom: 5px;
}

.btn {
    font-weight: var(--font500);
    font-size: 1.2rem;
}

.feedHistoryWrapper {
    display: flex;
    justify-content: space-around;
}

.feedCard {
    padding: 10px;
    width: 50%;
    margin: 10px;
}

ul li {
    list-style: none;
}

.fontello {
    margin-right: 5px;
}

.bigBtn {
    font-family: var(--fontOS);
    font-weight: var(--font700);
    font-size: 1.3rem;   
}


.card-header {
    background-color: white !important;
}

.card-header:hover {
    transition: 0.5s;
    background-color: var(--Green) !important;
    padding-left: 8px;
}

.card-header:hover .bigBtn {
    transition: 0.5s;
    color: white;
}

.bigBtn:focus {
    transition: 0.5s;
    background-color: var(--Green);
}

.bigBtn:focus .card-header {
    transition: 0.5s;
    background-color: var(--Green) !important;
    padding-left: 8px;
}

.accordion>.card>.card-header {
    border-radius: 0;
    margin-bottom: 0;
}


/* MEDIA QUERIES */

@media (min-width: 1200px){
   #app > div {
    width: 1140px;
    margin: 0 auto;
}

}

@media (min-width: 992px) and (max-width: 1199px){
    .container {
     max-width: 880px;
     margin: 0 auto;
 }
 
 }

@media (max-width: 768px){
    .inputAddDog {
        width: 100%;
    }
    
    .selectAddDog {
        width: 100%;
    }

}